@font-face {
    font-family: 'roboto_condensedlight';
    src: url('./font/robotocondensed-light-webfont.woff2') format('woff2'),
         url('./font/robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('./font/roboto-regular-webfont.woff2') format('woff2'),
         url('./font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body{
    font-family: robotoregular, sans-serif;
    display: flex;
    margin: 0;
   
    
 }

 .container{
 	display: flex;
 }


 
@media screen and (max-width: 800px) {
	
	.container{
		display: block;
	}
}


.left{
	display: flex;
    flex-direction: column;
    width: 20%;
    
}

@media screen and (max-width: 1200px) {
	.left{

		width: 30%;
	}

	.right{

		width: 70%;
	}

	
}

@media screen and (max-width: 800px){
	.left{
		width: 100%;
		height: 1200px;
	}
}

.photo{
	background-color: #feca07;
    flex: .25;

}

.photos{
	display: flex;
    max-width: 100%;
    align-items: center;
    height: 100%;
}



.contact{
	background-color: #feca07;
    flex: .25;
    text-align: center;

}

.contact a{
	text-decoration: none;
}

.contact a:hover{
	color: rgba(230,74,25 ,1);
}

.a-propos{
	flex: .40;
    background-color: #feca07;
    text-align: center;
}

.loisir{
	background-color: #feca07;
    flex: .14;
    text-align: center;

}

.right{
	display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}


@media screen and (max-width: 800px){
	.right{
		height: auto;
		width: auto;
	}
}


.nom{
	
    flex: .15;
    margin-left: 50px;
}

@media screen and (max-width: 800px){
	.nom{
		margin-left: 0;
	}
}

.formation{
	
    flex: .25;
}

.experience{
	
    flex: .50;

}



.recommandation{
	
    flex: .15;

}

@media screen and (max-width: 700px){
	.recommandation{
		display: none;
	}
}

h3{
	background-color: #616161;
    margin: 0;
    height: 40px;
    padding-top: 20px;
    color: #feca07;
    margin-bottom: 40px;
}

.im-photo{
    border-radius: 50%;
    margin: auto;
    border: 3px solid #B88C1F;
    width: 200px;
    }


p{
    	text-align: justify;
    	margin-left: 30px;
    	margin-right: 50px;
   }

    
.prenom{
    color: #feca07;
    margin-left: 0px;
    }


h1{
   	text-align: left;
    margin-left: 59px;
    margin-bottom: 8px;
    font-size: 45px;
    }

.dev{
   	margin-left: 59px;
   	font-size: 22px;
    }

.icon{
    border-radius: 50%;
	padding: 22px 10px 10px 12px;
	border: 1px solid #908d8d;
	margin-right: 10px;
	margin-top: 40px;
	margin-bottom: 0px;
	color: #908d8d;
    }
    
.logo{
	margin-right: 50px;
	color: #feca07
}

@media screen and (max-width: 700px) {
		.logo{
			margin-right: 20px;
		}
	}	

.ph{
	display: flex;

}

h2{
	margin-left: 100px;
	margin-top: 40px;
}

@media screen and (max-width: 800px){
	h2{
		font-size: larger;
		margin-left: 78px;

	}

	
}

@media screen and (max-width: 700px) {
	h2{
		
		margin-left: 43px;

	}
}

h4{
	margin-left: 80px;
}

div{
	display: inline-block;
}

hr{
	border: 1px solid #feca07;
	width: 80%;
	margin-top: -10px;
	margin-bottom: 20px;
	margin-left: 99px;

}

@media screen and (max-width: 800px){
	hr{
		margin-left: auto;
	}
}

.pg{

	margin-left: 80px;
	position: absolute;
	margin-top: 7px;
}

.cercle{
	margin-right: 15px;
	color: #feca07;

}


.fa-circle{
    font-size: x-small;
}

.pg p{
	text-align: center;
	width: 155px;
}


@media screen and (max-width: 800px){
	.pg{
		position: relative;
		margin-left: 40px;
		width: auto;
	}
}

.pd{
	margin-left: 250px;
	width: 70%;

}

@media screen and (max-width: 1200px){
	.pd{
		margin-left: 216px;
	}
}

@media screen and (max-width: 800px){
	.pd{
		margin-left: 0;
		width: auto;
	}
}

#p3{
	display: inherit;
}

.pard{
	margin-left: 80px;
	color: #898989;
}
/*
.p-footer-d{
	margin-left: 97px;
    margin-right: 250px;
	
}
*/
.p-footer-d{
	float: right;
	margin-right: 150px;
}

@media screen and (max-width: 1200px){
	.p-footer-d{
		margin-right: 0;
		
	}
}

@media screen and (max-width: 800px){
	.p-footer-d{
		margin-right: 0;
		position: absolute;
	}
}

.p-footer-g{
	
	margin-left: 97px;
}

@media screen and (max-width: 1000px){
	.p-footer-g{
	
	margin-left: 27px;
}

@media screen and (max-width: 800px){
	.p-footer-g{
	
	margin-left: 50px;
	 }

	.p-footer-g .pard-r{
		
		text-align: center;
		margin-left: 30px;
		margin-right: 40px;
	}
}

.petit-ligne{
	border-bottom: 2px solid #feca07;
	width: 65px;
	display: flex;
	margin-top: 5px;
	margin-left: 57px

}

