@font-face {
    font-family: 'roboto_condensedlight';
    src: url('./font/robotocondensed-light-webfont.woff2') format('woff2'),
         url('./font/robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('./font/roboto-regular-webfont.woff2') format('woff2'),
         url('./font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
    font-family: robotoregular, sans-serif;
    display: flex;
    margin: 0;

 }

.left{
	display: flex;
    flex-direction: column;
    width: 20%;

}

.photo{
	background-color: #feca07;
    flex: .25;

}

.photos{
	display: flex;
    max-width: 100%;
    align-items: center;
    height: 100%;
}



.contact{
	background-color: #feca07;
    flex: .25;
    text-align: center;

}

.contact a{
	text-decoration: none;
}

.contact a:hover{
	color: rgba(230,74,25 ,1);
}

.a-propos{
	flex: .40;
    background-color: #feca07;
    text-align: center;
}

.loisir{
	background-color: #feca07;
    flex: .14;
    text-align: center;

}

.right{
	display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.nom{

    flex: .15;
    margin-left: 50px;
}

.petit-ligne{
	border-bottom: 2px solid #feca07;
	width: 65px;
	margin-top: 5px;
}

.formation{

    flex: .25;
}

.experience{

    flex: .50;

}


.separateur{
	background-color: #616161;
    margin: 0;
    height: 40px;
    padding-top: 10px;
    color: #feca07;
    margin-bottom: 40px;
    text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	font-weight: bold;
}

.im-photo{
    border-radius: 50%;
    margin: auto;
    border: 3px solid #B88C1F;
    width: 200px;
    }


p{
    	text-align: justify;
    	margin-left: 30px;
    	margin-right: 50px;
   }


.prenom{
    color: #feca07;
    margin-left: 0px;
    }


h1{
   	text-align: left;
    margin-left: 59px;
    margin-bottom: 8px;
    font-size: 45px;
    }

.dev{
   	font-size: 22px;
   	margin-left: 60px;
    }

.icon{
    border-radius: 50%;
	padding: 22px 10px 10px 15px;
	border: 1px solid #908d8d;
	margin-right: 16px;
	color: #908d8d;
    }

.logo{

	margin-right: 50px;
	color: #feca07
}

h2{
	margin-left: 100px;
	margin-top: 40px;
	border-bottom: 2px solid #feca07;
	width: 80%;
	padding-bottom: 10px;

}

h3{
	margin-left: 80px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #898989;
}

h4{
	width: 170px;
    font-size: 13px;
    margin: 0;
    padding-left: 80px;
    color: #898989;
}


div{
	display: inline-block;
}



.pg{
	display: flex;
	position: absolute;
	align-items: baseline;
	padding-left: 100px;
}

.cercle{
	color: #feca07;

}


.fa-circle{
    font-size: x-small;
}


.pg p{
	text-align: inherit;
    width: 170px;
    margin: 0;
    padding-left: 10px;
}


.pd{
	margin-left: 250px;
	width: 70%;
}


.p3{
	display: inherit;
}

.pard{
	margin-left: 80px;
	color: #898989;
}

.p-footer-d{
	float: right;
	margin-right: 10%;
}

.p-footer-g{
	margin-left: 5%;
}


/* media queries */



@media screen and (max-width: 1200px){
	.left{

		width: 30%;
	}

	.right{

		width: 70%;
	}
	.pd{
		margin-left: 215px;
	}
	.p-footer-d{
		margin-right: 5%;
	}
}


@media screen and (max-width: 800px){
	body{
		display: block;
	}
	.right{
		height: auto;
		width: auto;
	}
	.left{
		width: 100%;
		height: 1200px;
	}
	.nom{
		margin-left: 0;
	}
	h1{
		text-align: center;
		margin-left: 0;
	}
	h2{
		width: 90%;
		font-size: larger;
		margin-left: 30px;

	}
	.logo{
		margin-right: 20px;
	}
	.pg{
		padding-left: 30px;
	}

	h3{
		margin-left: 30px;
	}

	h4{
		padding-left: 30px;
	}

	.pard{
		margin-left: 30px;
	}
	.dev{
		display: block;
		text-align: center;
		margin-left: 0;
	}
	.petit-ligne{
		margin-left: 0;
	}
	.pd{
		margin-left: 0;
		width: auto;
	}
	.pg{
		position: relative;
		padding-left: 30px;
		padding-bottom: 10px;
		width: auto;
	}
	.p-footer-g{

		margin-left: 50px;
	 }
	 .p-footer-d{
		margin-right: 50px;

	}

	.p-footer-g .pard-r{

		text-align: justify;
		margin-left: 30px;
		margin-right: 40px;
	}
}


@media screen and (max-width: 400px) {
	h2{

		font-size: 16px;

	}
	.p-footer-d{
		display: none;

	}
	
}
