@font-face {
    font-family: 'roboto_condensedlight';
    src: url('./font/robotocondensed-light-webfont.woff2') format('woff2'),
         url('./font/robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('./font/roboto-regular-webfont.woff2') format('woff2'),
         url('./font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body{
    font-family: robotoregular, sans-serif;
    display: flex;
    margin: 0;


 }



@media screen and (max-width: 800px) {

	body{
		display: block;
	}
}


.left{
	display: flex;
    flex-direction: column;
    width: 20%;

}

@media screen and (max-width: 1200px) {
	.left{

		width: 30%;
	}

	.right{

		width: 70%;
	}


}

@media screen and (max-width: 800px){
	.left{
		width: 100%;
		height: 1200px;
	}
}

.photo{
	background-color: #feca07;
    flex: .25;

}

.photos{
	display: flex;
    max-width: 100%;
    align-items: center;
    height: 100%;
}



.contact{
	background-color: #feca07;
    flex: .25;
    text-align: center;

}

.contact a{
	text-decoration: none;
}

.contact a:hover{
	color: rgba(230,74,25 ,1);
}

.a-propos{
	flex: .40;
    background-color: #feca07;
    text-align: center;
}

.loisir{
	background-color: #feca07;
    flex: .14;
    text-align: center;

}

.right{
	display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}


@media screen and (max-width: 800px){
	.right{
		height: auto;
		width: auto;
	}
}


.nom{

    flex: .15;
    margin-left: 50px;
}

@media screen and (max-width: 800px){
	.nom{
		margin-left: 0;
	}
}

.petit-ligne{
	border-bottom: 2px solid #feca07;
	width: 65px;
	margin-top: 5px;
}

.formation{

    flex: .25;
}

.experience{

    flex: .50;

}


.recommandation{

    flex: .15;

}

@media screen and (max-width: 700px){
	.recommandation{
		display: none;
	}
}

.separateur{
	background-color: #616161;
    margin: 0;
    height: 40px;
    padding-top: 20px;
    color: #feca07;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.im-photo{
    border-radius: 50%;
    margin: auto;
    border: 3px solid #B88C1F;
    width: 200px;
    }


p{
    	text-align: justify;
    	margin-left: 30px;
    	margin-right: 50px;
   }


.prenom{
    color: #feca07;
    margin-left: 0px;
    }


h1{
   	text-align: left;
    margin-left: 59px;
    margin-bottom: 8px;
    font-size: 45px;
    }

@media screen and (max-width: 800px) {
	h1{
		text-align: center;
		margin-left: 0;
	}
}

.dev{
   	font-size: 22px;
   	margin-left: 60px;
    }

@media screen and (max-width: 800px) {
    	.dev{
    		display: block;
    		text-align: center;
    		margin-left: 0;
    	}
    }



.icon{
    border-radius: 50%;
	padding: 22px 10px 10px 12px;
	border: 1px solid #908d8d;
	margin-right: 10px;
	margin-top: 40px;
	margin-bottom: 0px;
	color: #908d8d;
    }

.logo{

	margin-right: 50px;
	color: #feca07
}

@media screen and (max-width: 700px) {
		.logo{
			margin-right: 20px;
		}
	}

@media screen and (max-width: 350px) {
		.logo{
			margin-right: 8px;
		}
	}


h2{
	margin-left: 100px;
	margin-top: 40px;
	border-bottom: 2px solid #feca07;
	width: 80%;
	padding-bottom: 10px;

}

@media screen and (max-width: 800px){
	h2{
		font-size: larger;
		margin-left: 30px;

	}


}

@media screen and (max-width: 400px) {
	h2{

		margin-left: 30px;
		font-size: 16px;

	}
}

h3{
	margin-left: 80px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #898989;
}

h4{
	width: 170px;
    font-size: 13px;
    margin: 0;
    padding-left: 80px;
    color: #898989;
}


div{
	display: inline-block;
}



.pg{
	display: flex;
	position: absolute;
	align-items: baseline;
	padding-left: 100px;
	margin-top: 7px;
}

.cercle{
	color: #feca07;

}


.fa-circle{
    font-size: x-small;
}

.pg p{
	text-align: inherit;
    width: 170px;
    margin: 0;
    padding-left: 10px;
}


@media screen and (max-width: 800px){
	.pg{
		position: relative;
		padding-left: 75px;
		padding-bottom: 10px;
		width: auto;
	}
}

.pd{
	margin-left: 250px;
	width: 70%;

}


@media screen and (max-width: 800px){
	.pd{
		margin-left: 0;
		width: auto;
	}
}

#p3{
	display: inherit;
}

.pard{
	margin-left: 80px;
	color: #898989;
}
/*
.p-footer-d{
	margin-left: 97px;
    margin-right: 250px;

}
*/
.p-footer-d{
	float: right;
	margin-right: 150px;
}

@media screen and (max-width: 1200px){
	.p-footer-d{
		margin-right: 0px;

	}
}

@media screen and (max-width: 800px){
	.p-footer-d{
		margin-right: 23px;

	}

}

.p-footer-g{
	display: inline-block;
	margin-left: 97px;
}

@media screen and (max-width: 1000px){
	.p-footer-g{

	margin-left: 0px;
}

@media screen and (max-width: 800px){
	.p-footer-g{

	margin-left: 50px;
	 }

	.p-footer-g .pard-r{

		text-align: justify;
		margin-left: 30px;
		margin-right: 40px;
	}
}



@media screen and (max-width: 800px) {
	.petit-ligne{
		margin-left: 0;
	}
}

@media screen and (max-width: 700px) {
	.pg{
		padding-left: 30px;
	}

	h3{
		margin-left: 30px;
	}

	h4{
		padding-left: 30px;
	}

	.pard{
		margin-left: 30px;
	}
}

